<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FootCal{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    {% block head %}{% endblock %}
</head>

<body>
    <div id="page-header" class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                <span class="display-6">
                    ⚽
                    <span class="text-success">Foot</span><span class="text-secondary">Cal</span>
                    🗓️
                </span>
                {% block tag %}{% endblock %}
            </div>
            <ul class="nav">
                <li class="nav-item"><a href="/" class="nav-link"><i class="bi bi-house"></i> Home</a></li>
                <li class="nav-item"><a href="/search" class="nav-link"><i class="bi bi-search"></i> Search</a></li>
                <li class="nav-item"><a href="/help" class="nav-link"><i class="bi bi-patch-question"></i> Help</a></li>
                {% block navbar %}{% endblock %}
            </ul>
        </header>
    </div>

    <div id="page-content">{% block content %}{% endblock %}</div>

    <div id="footer" class="container">
        <footer class="py-3 my-4">
            <p class="text-center text-body-secondary border-top">
                Made by <a target="_blank" rel="noreferrer noopener" href="https://cbdm.app/">Caio</a>
                <i class="bi bi-three-dots"></i>
                <a target="_blank" rel="noreferrer noopener" href="https://github.com/cbdm/footcal/">Source Code</a>
                <i class="bi bi-three-dots"></i>
                <a href="mailto:footcal@cbdm.app">footcal@cbdm.app</a>
            </p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8LKP8GN8SB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8LKP8GN8SB');
    </script>
    <script>
        function copyToClipboard(copyText) {
            navigator.clipboard.writeText(copyText).then(() => {
                // Alert the user that the action took place.
                // Nobody likes hidden stuff being done under the hood!
                alert("Copied to clipboard");
            });
        }
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>