{% extends 'base.html' %}

{% block content %}
    <h3>Welcome to FootCal!</h3>
    This app lets you add the games of your favorite team (or competition) to your personal calendar.

    <div class="row">
        <div class="two_columns_no_borders">
            <h2>Team Calendars</h2>
            You can find the team calendars already created in the table below:
            <table>
                <tr>
                    <th>Team</th>
                    <th>Country</th>
                    <th>ID</th>
                    <th>Calendar URL</th>
                </tr>
                {% for (ID, name, country) in team_list %}
                <tr>
                    <td>
                        <img src="https://media.api-sports.io/football/teams/{{ ID }}.png" alt="{{ name }}'s logo" width="50" style="vertical-align:middle">
                        &nbsp;
                        {{ name }}
                    </td>
                    <td> {{ country }} </td>
                    <td> {{ ID }} </td>
                    <td>
                        <a href="{{ request.host_url }}team/{{ ID }}">{{ request.host_url }}team/{{ ID }}</a>
                        &nbsp;
                        <button onclick="copyToClipboard('{{ request.host_url }}team/{{ ID }}')">copy</button>
                    </td>
                </tr>
                {% endfor %}
            </table>

            If you need an ID for a different team, you can try going to <a href="/search">/search</a>.<br/>
        </div>
        <div class="two_columns_no_borders">
            <h2>Competition Calendars</h2>
            You can find the competition calendars already created in the table below:
            <table>
                <tr>
                    <th>Competition</th>
                    <th>Country</th>
                    <th>ID</th>
                    <th>Calendar URL</th>
                </tr>
                {% for (ID, name, country) in comp_list %}
                <tr>
                    <td>
                        <img src="https://media.api-sports.io/football/leagues/{{ ID }}.png" alt="{{ name }}'s logo" width="50" style="vertical-align:middle">
                        &nbsp;
                        {{ name }}
                    </td>
                    <td> {{ country }} </td>
                    <td> {{ ID }} </td>
                    <td>
                        <a href="{{ request.host_url }}comp/{{ ID }}">{{ request.host_url }}comp/{{ ID }}</a> 
                        &nbsp;
                        <button onclick="copyToClipboard('{{ request.host_url }}comp/{{ ID }}')">copy</button>
                    </td>
                </tr>
                {% endfor %}
            </table>

            If you need an ID for a different competition, you can try going to <a href="/search-comp">/search-comp</a>.<br/>
        </div>
    </div>
{% endblock %}
